h1{
  padding-top:2em;
  text-align:center;
  padding-bottom:2em;
  color:white;
  background-color:black;
  margin:0;
 
  
   font-family:Arial,Helvetica,sans-serif; 
}


.form1, .form2{
  width:80%;
  margin: 0 auto;
  font-family:Arial,Helvetica,sans-serif; 
  letter-spacing:2px;
}





/*add space under input field*/
input{
  margin-bottom:1em;
  width:100%;
  height:25px;
  color: #888888 ;
  
}
#newsletterchecks{/*takes out margin on checkboxes in form2*/
  margin-bottom:0;
}


/*add space under form titles*/
.recognizeform1{
  display:block;
  margin-bottom:5px;
  margin-top:20px;
  color:black;
}
.recognizeform2{
  display:block;
  margin-bottom:5px;
  color:black;
}
form{
  color:#888888  ;
}

/*make checkbox divs in same horizontal line 
.checkboxcolumn1{
  display:inline-block;
}
.checkboxcolumn2{
  display:inline-block;
}
.checkboxcolumn3{
  display:inline-block;
}
#submit2{
  margin-top:1em;
  display:block;
}
*/
#newsletterchecks, #checkboxform1{
  width:auto;
}

.checkboxcolumn1{
  
}
#button1, #submit2{
  margin-bottom:2em;
  height:35px;
}

@media (min-width:75em){
/*lining up input fields in form1 and 2*/
#fieldname1{
float:left;
width:7em;

}
#fieldname2{
float:left;
width:12em;
}
input{
  width:auto;

}
/*forms layout big screen*/
.form1{
  float:left;
  width:50%;
 
}
.form2{
  float:left;
  width:50%;

}
.form1subcontainer{
  border: 1px solid;
  margin: 0 auto;
  width:80%;
}
.form2subcontainer{
  border: 1px solid;
  margin: 0 auto;
  width:80%;
}
/*make checkboxes form two in one horizontal line*/
.checkboxcolumn1{
  display:inline-block;
}
.checkboxcolumn2{
  display:inline-block;
}
.checkboxcolumn3{
  display:inline-block;
}
#submit2{/*but submit button in form2 on own line*/
  display:block;
}
/*make form1 and 2 equal start top point*/
.recognizeform2{
  margin-top:20px;
}



}

