h1{
  text-align:center;
}

.form1{
  float:left;
  
 
}

.form2{
  float:right;
 
}




#fieldname1{
float:left;
width:7em;
margin-right:1em;

}
#fieldname2{
float:left;
width:10em;
margin-right:1em;
}




input{
  margin-bottom:1em;
}
#newsletterchecks{
  margin-bottom:0;
}

.recognizeform1{
  display:block;
  margin-bottom:10px;
}
.recognizeform2{
  display:block;
  margin-bottom:1em;
}
.descriptor1{
  display:block;
  margin-bottom:10px;
}

.body{
  min-width:600px;
}


