h1{
  text-align:center;
}
/*
.form1{
  float:left;
  width:50%;
}

.form2{
  float:right;
  width:50%;
}
*/



#fieldname1{
float:left;
width:7em;
margin-right:1em;

}
#fieldname2{
float:left;
width:10em;
margin-right:1em;
}




input{
  margin-bottom:1em;
}
#newsletterchecks{
  margin-bottom:0;
}




.body{
  min-width:600px;
}


